/* styles.css */

/* 검색 바 가운데 정렬 */
.search-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이 전체 차지 */
}

/* 검색 바 */
.search-bar {
    width: 400px;  /* 원하는 너비로 조절 */
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    display: block; /* 블록 요소로 만듭니다. */
    margin: 10px auto; /* 수평 가운데 정렬을 위한 마진 설정 */
    padding: 15px; /* 크기를 키우려면 패딩을 조절하세요 */
}



/* 검색 아이콘 이미지  */
.search-button img {
    width: 20px; /* 아이콘 이미지 크기 조절 */
    height: 20px;
    vertical-align: middle; /* 아이콘 수직 중앙 정렬 */
}


